%% == Erlang Compiler ==

{minimum_otp_vsn, "20.0"}.

{erl_opts, [
  debug_info,
  warnings_as_errors,
  warn_unused_vars,
  ewarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_untyped_record
]}.

%% == Dependencies ==

{deps, [
  {iso8601, "1.2.3"}
]}.

{erl_first_files, ["src/xdb_transform.erl"]}.

%% == Profiles ==

{profiles, [
  {test, [
    {erl_first_files, [
      "src/xdb_adapter.erl",
      "test/support/xdb_test_adapter.erl"
    ]},

    {deps, [
      {katana, "0.4.0"},
      {katana_test, "0.1.1"},
      {mixer, "1.0.0", {pkg, inaka_mixer}},
      {fancyflow, {git, "https://github.com/ferd/fancyflow", {ref, "81cf9df"}}}
    ]},

    {cover_excl_mods, [
      xdb_sql, % @TODO: remove it from here once tests are implemented
      xdb_transform,
      xdb_repo,
      xdb_adapter,
      xdb_adapter_transaction,
      xdb_exception,
      xdb_ct,
      xdb_query_conditions_test,
      xdb_transaction_test,
      xdb_repo_basic_test,
      xdb_schema_test,
      person,
      account
    ]}
  ]}
]}.

%% == Cover ==

{cover_enabled, true}.

{cover_opts, [verbose]}.

%% == Common Test ==

{ct_compile_opts, [
  debug_info,
  warnings_as_errors,
  warn_unused_vars,
  ewarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_untyped_record,
  {parse_transform, fancyflow_trans}
]}.

{ct_opts, [
  {sys_config, ["config/test.config"]}
]}.

%% == EDoc ==

{edoc_opts, []}.

%% == Dialyzer ==

{dialyzer, [
  {warnings, [
    no_return,
    unmatched_returns,
    error_handling,
    unknown
  ]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, [syntax_tools, iso8601, mnesia]},
  {plt_location, local},
  {plt_prefix, "cross_db"},
  {base_plt_location, "."},
  {base_plt_prefix, "cross_db"}
]}.

%% == Shell ==

{shell, [
  {apps, [cross_db]},
  {config, ["config/dev.config"]}
]}.
