{erl_opts, [
  debug_info,
  {parse_transform, fancyflow_trans}
]}.

{deps, [
  {cross_db, {git, "https://github.com/cabol/cross_db", {branch, "master"}}},

  %% Pipe operator (useful for changesets)
  {fancyflow, {git, "https://github.com/ferd/fancyflow", {ref, "81cf9df"}}},

  %% Inherit the default repo `init/1` callback from `xdb_mnesia_boot_repo`
  {mixer, "1.0.0", {pkg, inaka_mixer}}
]}.

{shell, [
  {apps, [blog]},
  {config, ["config/dev.config"]}
]}.
