{erl_opts, [
  debug_info,
  {parse_transform, fancyflow_trans}
]}.

{deps, [
  {cross_db, {git, "https://github.com/cabol/cross_db", {branch, "master"}}},

  %% Pipe operator (useful for changesets)
  {fancyflow, {git, "https://github.com/ferd/fancyflow", {ref, "81cf9df"}}},

  %% Inherit the default repo `init/1` callback from `xdb_mnesia_boot_repo`
  {mixer, "1.0.0", {pkg, inaka_mixer}}
]}.

{shell, [
  {apps, [blog]},
  {config, ["config/sys.config"]}
]}.

% {relx, [
%   {release, {blog, "0.0.1"}, [blog]},
%   {dev_mode, true},
%   {include_erts, false},
%   {extended_start_script, true},
%   {sys_config, "config/sys.config"}
% ]}.
