[
  {cross_db, [
    {xdb_test_repo, [
      {adapter, xdb_test_adapter}
    ]},
    {xdb_test_repo_and_adapter, [
      {adapter, xdb_test_repo_and_adapter}
    ]},
    {xdb_test_mnesia_repo, [
      {adapter, xdb_mnesia_adapter},
      {ram_copies, local},
      {schemas, [person]}
    ]}
  ]}
].
